/*move page out from beneath topbar*/
header {
	height: 38px;
}

/*nav bars adapted from W3Schools examples*/
#topbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	left: -5px;
	width: 100%;
}

#topbar ul li {
	float: right;
	border-left: 1px solid #bbb;
}

#topbar ul li:first-child {
	float: left;
	border-left: none;
	border-right: 1px solid #bbb;
}

#topbar ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#topbar ul li a:hover {
	background-color: #111;
}

#sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #f1f1f1;
	height: 100%;
	position: fixed;
	overflow: auto;
	left: -5px;
}

#sidebar ul li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

#sidebar ul li a:hover {
	background-color: #555;
	color: #fff;
}

#content {
	margin-left: 16%;
	padding-left: 10px;
}

footer {
	margin-left: 16%;
}